.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    font-family: "Jost";
    font-weight: 500;
}

.footer-container .policies>div:first-child {
    order: -1;
}

.footer-container .policies,
.footer-container .policies>div {
    padding: 0.5rem 0;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}